body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* Header */

#header {
    background-color: #1f2937;
    padding: 8px 200px;
    display: flex;
    justify-content: space-between;
}

#header-logo {
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

.links {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Hero text */

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 6px 24px;
    font-weight: 900;
    font-size: 15px;
}

#hero {
    background-color: #1f2937;
    padding: 80px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#hero .right {
    width: 360px;
    height: 220px;
    background-color: #6c7e81;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .right img {
    color: lightgray;
}

#hero .left {
    flex: 1;
}

#hero .left h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0px;
    margin-bottom: 8px;
}

#hero .left p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px 0px 20px 0px;
}

/* Information section */

#information {
    padding: 30px 200px 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#information h2 {
    margin: 0px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img-and-text {
    flex-grow: 0;
    flex-basis: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

#information img {
    width: 130px;
    height: 130px;
    border: 3px solid blueviolet;
    border-radius: 10px;
}

.img-and-text .text {
    color: darkslategrey;
}

/* Quote section */

#quote-section {
    background-color: #e5e7eb;
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 49em;
}

.quote .text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote .from {
    font-weight: 700;
    font-size: 24px;
    align-self: flex-end;
}

/* Call to action section */
 
#call-to-action {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#call-to-action .outer-box {
    background-color: #3882f6;
    padding: 40px 80px;
    border-radius: 10px;
    flex: 1;
    max-width: 50em;
}

#call-to-action .inner-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#call-to-action .inner-box .text {
    color: white;
}

#call-to-action .inner-box .text .top {
    font-size: 22px;
    font-weight: 900;
}

#call-to-action .inner-box .text .bottom {
    font-weight: 300;
}

#call-to-action .inner-box button {
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px 22px;
}

/* Footer section */

#footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 200px;
    font-size: 15px;
}